.git
.env
.env.*
prod.env

node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage

data
*.db
*.dump
*.log
*.pem
*.key
*.crt
*.tar
*.tar.gz
*.zip

compose*.yaml
output
assets/production-batches
